.playerStatus {
  flex-basis: 50%;
  padding-right: 10px;
}

.weedUomLabel {
  text-decoration: underline;
  cursor: pointer;
}

.weedUomLabel:after {
  content: ' / ';
  cursor: text;
  text-decoration: none;
}

.weedUomLabel:last-child:after {
  content: none;
}

.weedUomLabelSelected {
  composes: weedUomLabel;
  font-weight: 600;
}

.weedUomLabelSelected:after {
  font-weight: 400;
}

.weedListItemContent {
  display: flex;
  justify-content: flex-start;
}

.weedListItemContentItem {
  flex: 1 0 0;
}

