.weedUomLabel {
  text-decoration: underline;
  cursor: pointer;
}

.weedUomLabel:after {
  content: ' / ';
  cursor: text;
  text-decoration: none;
}

.weedUomLabel:last-child:after {
  content: none;
}

.weedUomLabelSelected {
  composes: weedUomLabel;
  font-weight: 600;
}

.weedUomLabelSelected:after {
  font-weight: 400;
}

.weedChip {
  background: #ddd;
  padding: 0 calc(var(--chip-padding) * 0.75);
  line-height: calc(var(--chip-height) * 0.75);
  font-size: calc(var(--chip-font-size) * 0.75);
}
